*.mod
*.o
*.a
*.pyc
*.tmp
/*.txt
*~
sol*.asy
sol*.csv
sol*.pdf
__pycache__

build/*
tests/fruit*gen.f90
tests/*.bin
tests/*.xml
tests/*.txt

# Algencan files
.silent
algencan.dat

# Ignore 'make' configuration files
*.mk